@model IEnumerable<NewsPage.Models.Post>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


<table>

    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <h2 class="m-2 text-center">

                    @Html.DisplayFor(modelItem => item.Title)
                </h2>
            </tr>

            <div class="m-4 text-center">

                <img src="@Html.DisplayFor(modelItem => item.MainImage)" style="height:300px; width: auto">
            </div>

            <tr class="m-4 text-center">
                <div class="m-4 text-center">
                    @Html.DisplayFor(modelItem => item.Text)
                </div>
            </tr>

            <tr class="mt-2 mb-5 text-center">
                <div class="m-4 text-center">
                    <a asp-action="Edit" asp-route-id="@item.PostId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.PostId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.PostId">Delete</a>
                </div>
            </tr>

        }
    </tbody>
</table>
