@model IEnumerable<NewsPage.Models.Post>

@{
    ViewData["Title"] = "Лента новостей";
}



<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-8">
            @foreach (var post in Model)
            {
                <div class="card mb-3">
                    @if (!string.IsNullOrEmpty(post.MainImage))
                    {
                        <img src="@Html.DisplayFor(modelItem => post.MainImage)" style="height:300px; width: auto" class="card-img-top" alt="...">
                    }
                    <div class="card-body">
                        <h5 class="card-title">@post.Title</h5>
                        <p class="card-text">@Html.Raw(post.Text)</p>
                    </div>
                    <div class="card-footer bg-transparent text-muted">
                        @*<span>@post.Author</span> | <span>@post.DatePosted.ToString("MMMM dd, yyyy")</span>*@
                        <a href="@Url.Action("Details", "Posts", new { id = post.PostId })" class="stretched-link"></a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
